

h1 {
text-align: center;
font-size: 50px;
font-family: monospace;

}

.description {
    text-align: center;
    font-family: monospace;
}


.startbutton {
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 25px;
    font-weight: 500;
    padding: 15px 30px;
    margin-top: 20px;

}

li {
    list-style-type: none;
}

#questionSection,
#finalSection,
#highscoreSection
 {
    display: none;  
  } 

#question {
font-size: 40px;
font-family: monospace;
border-style: solid;
border-color: black;
display:flex;
justify-content: center;
}

.choice {
    font-weight: bold;
    border-style: solid;
    border-color: black;
    display: flex;
    font-family: monospace;
    padding: 20px;
    font-size: 20px;
    
}

header {
    font-family: monospace;
}


